@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

.header{
    height: 100vh;
    width: 100%;
    background: linear-gradient(45deg,#131214,#3b0128,#e25db6);
    position: fixed;
    margin:0;
}
.header .navbar{
    display: flex;
    height: 13vh;
    width: 85%;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}
.navbar .navlist{
    display: flex;
    gap: 2.7rem;
}
.navlist li{
    list-style: none;
}
.navlist a{
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
    letter-spacing: .08rem;
}
.navbar button{
    background-color: Black;
    border: none;
    font-size: 1.3rem;
    color: white;
    padding: .9rem 1.5rem;
    letter-spacing: .08rem;
    border-radius: .3rem;
    transition: .5s ease-in-out;
}
.navbar button:hover{
    box-shadow: 0 0 2rem rgb(7, 1, 26);
    cursor: pointer;
}
.details{
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
    gap: 4rem;

}
.img{
    height: 22rem;
    width: 90%;

}
.content h1{
    color: white;
    font-size: 3.5rem;
    letter-spacing: .03rem;
}
.content p{
    color: white;
    font-size: 1.3rem;
    line-height: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    margin: 1.7rem 0;
    letter-spacing: .03rem;
}
.content button{
    background-color: transparent;
    border: .1rem solid White;
    font-size: 1.3rem;
    color: White;
    padding: .9rem 1.5rem;
    letter-spacing: .08rem;
    border-radius: .3rem;
    transition: .5s ease-in-out;
}
.content button:hover{
    box-shadow: 0 0 2rem white;
    cursor: pointer;
}
